.b {
    border: 1px solid black;
    z-index: 10;
}
.m {
    border: 1px solid yellow
}
.big-image-div {
    position: relative;
    height: 500px;
    border-bottom: 4px solid #FF7613;
    background-image: url('assets/antony-images/image1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.text-div {
    position: absolute;
    width: 100%;
    bottom: 100px;
    min-height: 100px;
    padding-left: 5%;
}
.desc {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color:white;
}
.line {
    height: 6px;
    background-color: #FF7613;
    width: 9%;
    margin-bottom: 30px

}
.img {
    height: 100%;
    width: 100%;
}

.top {
    margin-top: 100px;
    position: relative;
}
.imageLeft {
       width: 90%;
       height: 300px;
       background-repeat: no-repeat;
       background-size: 100% 100%;
}
.rightText {
    text-align: right;
    
    
}
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.right {
    margin-left: 91%;
    margin-top: 20px;

}
.text  {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.posRel {
    position: absolute;
}
.height {
    height: inherit;
}
.leftText {
    text-align: left;
}
.no-padd {
    padding: 0px !important;
    
}
.imageRight {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.left {
    margin-left: 0%;
    margin-top: 20px;
}
.image-desc {
    position: absolute;
    width: 60%;
    bottom: 50px;
    padding-left: 5%;
}
.textTop {
    margin-top: 15px;
    margin-bottom: 15px;
}
.big-button {
    margin-top: 20px;
    border: 2px solid wheat;
    color: white;
    padding: 8px 40px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 0;
}
.bgImage {
    background-image: url('assets/antony-images/image6.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    border-bottom: 4px solid #FF7613;
}
.imageText {
    width: 70%;
    margin-left: 15%;
    height: 100%;
}

.text-center {
    text-align: center;
}
.text-justy {
    text-align: justify;
}
.bottom-top {
    padding: 75px 0px 40px 0px;
}
.div-place {
    width: 80%;
    margin-left:10%; 
}

.bottom-text {
    margin-bottom: 50px;
}
.tour {
    width: 100%;
    
}
.cicle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF7613;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.verticalLine {
    width: 2px;
    background-color: #FF7613;
    height: 100px;
    margin-left: 29px;
}
.tour-height {
    height: 60px;
}
.font {
    font-size: 25px;
    color: #FF7613;
}
#phone {
    width: auto;
    height: 515px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 40%;
}
.article-big-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
}
.padd-left {
    padding-left: 0px;
}
.padd-right {
    padding-right: 0px;
}
.small-article {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    min-height: 550px;
}
.article-small-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
}
.marg-bottom {
    margin-bottom: 30px;
}
.article-desc {
    width: 80%;
    margin-left: 10%;
    text-align: left;
}
.data {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: gray;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 900;
    
}
.small-article-a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 600;
    font-size: 20px;
   
}
.mybutton {
    border-radius: 0px;
    background-color: white;
    border: 2px solid #FF7613;
    color: #FF7613;
    font-size: 15px;
    padding: 8px 40px;
    margin-top: 20px;
    margin-bottom: 20px;

} 

.text-white-color {
    color: white;
}
.relative-pos {
    position: relative;
    height: 275px;
    overflow: hidden;
}

.images-content-image {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(0deg) scale(1);
    -webkit-transition: all 0.2s linear;
    -moz-transition:    all 0.2s linear;
    -ms-transition:     all 0.2s linear;
    -o-transition:      all 0.2s linear;
    transition:         all 0.2s linear;
} 

.hover-show-opacity {
    box-sizing: border-box;
    padding: 10px;
    opacity: 0;  
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.relative-pos:hover > .images-content-image {
    transform: rotate(10deg) scale(1.4);
    -webkit-transition: all 0.2s linaer;
    -moz-transition: all 0.2s linaer;
    -ms-transition: all 0.2s linaer;
    -o-transition: all 0.2s linaer;
    transition: all 0.2s linaer;
}
.relative-pos:hover > .hover-show-opacity { 
    opacity: 1;  
    background-color:rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.food-name {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 15px;
}
.white-line {
    z-index: 7;
    height: 1px;
    width: 0%;
    margin: 10px auto;
    background-color: white;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}
.relative-pos:hover > .hover-show-opacity > .white-line {
    width: 60%;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}
.img-right-padd  {
    padding-right: 4px;
}
.img-left-padd  {
    padding-left: 4px;
    
}
.title-padding {
    padding-left: 200px;
}
.top-not-padd {
    margin-top: 100px;
}

@media only screen and (max-width: 992px) {
    .big-image-div {
        height: 350px !important;   
    }
    .text-div {
        bottom: 50px !important;
    }
    .imageLeft  {
        width: 100% !important;
        height: 275px !important;
    }
    .food-name {
        font-size: 25px !important;
        font-weight: 400 !important;
        margin-bottom: 5px !important;
    }
    .title-padding {
        padding-left: 50px !important;
    }
    .line {
        width: 15% !important;
    }
    .white-line {
        margin: 5px auto !important;
    }
    .right {
        margin-left: 85% !important;

    }
    .relative-pos {
        height: 200px;
    }
    .imageRight {
        height: 275px !important;
    }
    .bottom-top {
        padding: 45px 0px 25px 0px !important;
    }
    #phone {
        margin-top: 55%;
    }
    .article-small-image {
        height: 200px !important;
    }  
    .article-big-image {
        height: 350px !important;    
    }
    .image-desc {
        width: 65% !important;
    }
}

@media only screen and (max-width: 767px) {  
    #image-bug-fixed {
        width:323 !important;
        height: 340 !important;
    }
    .top{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .big-image-div {
        
        height: 275px !important;
    }
    .desc {
        font-size: 34px !important;
        line-height: 44px !important;
        font-weight: 500 !important;
    }
    .imageLeft {
        width: 300px !important;
        height: 275px !important;
        margin: auto !important;
    }
    .text-div > .line {
        display: none !important;
    }
    .imageRight {
        width: 400px !important;
        height: 275px !important;
        margin: auto !important;
    }
    .text {
        margin-bottom: 30px !important;
        font-size: 19px !important;
        line-height: 27px !important;
    }
    .bottom-top {
        padding: 20px 50px 16px 50px !important;
    }
    .div-place {
        width: 90% !important;
        margin-left: 5% !important;
    }
    .div-place.text {
        font-weight: normal !important;
    }
    .imageText {
        width: 100% !important;
        margin-left: 0% !important;
        height: 100% !important;
    }
    .relative-pos {
        height: 541px;
    }
    
    #phone {
        margin: 5% 30% !important;
    }
    .text {
        margin-bottom: 44px !important;
    }
    .food-name {  
        margin-top: 30% !important;
    }
    .small-article {
        min-height: 350px !important;
        width: 50% !important;
        margin: auto !important;
    }
    .padd-left {
        padding:  inherit;
        margin-bottom: 30px;
    }
    .padd-middle {
        padding:  inherit;
        margin-bottom: 30px;
    }

    .padd-right {
        padding:  inherit;
        margin-bottom: 30px;
    }
    .article-big-image {
        height: 300px !important;    
    }
    .image-desc {
        width: 70% !important;
    }
}
@media only screen and (max-width: 655px) { 
   .relative-pos {
       height: 375px;
   }
    .cicle {
        width: 50px !important;
        height: 50px !important;
    }
    .verticalLine {
        margin-left: 24px;
    }
 
    .small-article {
        min-height: 350px !important;
        width: 60% !important;
        margin: auto !important;
    }
    #phone {
        margin: 3% 25% !important;
    }
    .image-desc {
        width: 75% !important;
    }
    .verticalLine {
        height: 130px !important;
    }
    .tour-height {
        height: 90px !important; 
    }

}
@media only screen and (max-width: 624px) { 
    .big-image-div {
        /* background-size: cover !important; */
        height: 250px !important;
    }
    .text {
        margin-bottom: 20px !important;
    }
    .small-article {
        width: 80% !important;
        margin: auto !important;
    }
    #phone {
        margin: 5% 17% !important;
    }
    .bgImage {
        background-size: cover !important;
    
        width: 100%;
        height: 350px;
    }
    .image-desc {
        width: 80% !important;
    }
    .text-div {
        bottom:50px !important;
    }
}
@media only screen and (max-width: 474px) { 
    .big-image-div {
        background-size: cover !important;
        background-position-x: right !important;      
        height: 220px !important;
    }
    .imageRight {
        width: 100% !important;
    }
    .bottom-top {
        /* padding: 10px !important; */
    }
    #phone {
        margin: 10% 13% !important;
    }
   
    .article-big-image {
        height: 280px !important;
    }
    .image-desc {
        width: 100% !important;
        bottom: 25px !important;
    }
    .image-desc > .data { 
        margin-bottom: 10px !important;
    }
    .big-button {
        margin-top: 10px !important;
    }
    .text-div {
        bottom:30px !important;
    }
    .desc {
        font-size: 30px !important;
        line-height: 40px !important;
        font-weight: 500 !important;
    }
    .title {
        font-size: 27px !important;
        line-height: 28px !important;
        font-weight: 700 !important;
    }
 
}
@media only screen and (max-width: 412px) { 
    .text {
        margin-bottom: 30px !important;
        font-size: 19px !important;
        line-height: 22px !important;
    }
    .tour-height {
        padding-left: 10px !important;
    }
    .imageRight {
        width: 100% !important;
    }
    .article-big-image {
        height: 260px !important;
    }
    .image-desc {
        width: 100% !important;
        bottom: 5px !important;
    }
    .image-desc > .data { 
        margin-bottom: 5px !important;
    }
    .big-button {
        margin-top: 5px !important;
    }
    .image-desc > .title {
        font-size : 20px;
    }
    .text-div {
        bottom: 20px !important;
    }
    #image-bug-fixed {
        height: 250 !important;
    }
    #phone {
        margin: 10% 10% !important;
    }
    .title {
        font-size: 26px !important;
        font-weight: 700 !important;

    }
   
   
} 
@media only screen and (max-width: 340px) { 
    .verticalLine {
        height: 140px !important;
    }
    .article-small-image{
        height: 175px !important;
    }
    .article-big-image {
        height: 250px !important;
    }
    .imageLeft {
        width: 100% !important;
    }
    #phone {
        margin: 10% 5% !important;
    }
  
  
} 