<div class="container-fluid">
  <div class="row">
    <div class="big-image-div">

      <div class="text-div">
        <div class="line"></div>
        <p class="desc">CNN Parts Unknown:</p>
        <p class="desc">Armenia-Artsakh Episode to Air on May 20</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row top">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
        <div class="col-xs-12 col-sm-5 col-md-4 no-padd">
          <div class="imageLeft" id="image-bug-fixed" [style.background-image]="'url(' + 'assets/antony-images/image2.jpg' + ')'"></div>
        </div>
        <div class="rightText col-xs-12 col-sm-offset-1 col-md-offset-2 col-sm-6 col-md-6  height no-padd"> 
            <div class="title-padding title textTop">
            Anthony Bourdain meets Visite Gyumri teams
          </div>
          <div class="line right"></div>
          <div class="text"> 
          
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Doloremque, error odit. Labore ut, non quod ipsum omnis
            eos ad dolorum quos reiciendis incidunt veritatis 
            doloribus aperiam obcaecati distinctio sed neque inventore 
            tempora rerum. Nisi, praesentium ad. Est animi, voluptatem quisquam 
            distinctio recusandae quia reiciendis ab alias, natus, neque aut fuga ullam? 
            Quas explicabo harum debitis esse, numquam blanditiis ullam assumenda. 
          </div>
        </div>
         
      
    </div>
  </div>
  <div class="row top">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">

            <div class="leftText col-xs-12 col-sm-5 col-md-6  height no-padd"> 
              <div class="title col-sm-12 col-md-10 no-padd textTop">
                Anthony Bourdain Visits Artsakh making the "banned in Azerbaijan" list
              </div>
              <div class="clearfix"></div>
              <div class="line left"></div>
              <div class="text"> 
               
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Doloremque, error odit. Labore ut, non quod ipsum omnis
                eos ad dolorum quos reiciendis incidunt veritatis 
                doloribus aperiam obcaecati distinctio sed neque inventore 
                tempora rerum. Nisi, praesentium ad. Est animi, voluptatem quisquam 
                distinctio recusandae quia reiciendis ab alias, natus, neque aut fuga ullam? 
                Quas explicabo harum debitis esse, numquam blanditiis ullam assumenda. 
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-5 col-sm-offset-1 col-md-offset-1 no-padd">
              <div class="imageRight" [style.background-image]="'url(' + 'assets/antony-images/image3.jpg' + ')'"></div>
            </div>
        
      </div>
    </div> 
  
    <div class="row top">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
            <div class="col-xs-12 col-sm-5 col-md-4 no-padd">
                <div class="imageLeft " [style.background-image]="'url(' + 'assets/antony-images/image5.jpg' + ')'"></div>
              </div>
              <div class="rightText col-xs-12 col-sm-6 col-md-7 col-sm-offset-1 col-md-offset-1 height no-padd"> 
                  <div class="title-padding title textTop">
                      Anthony and Serj Tankian Meet in Yerevan 
                </div>
                <div class="line right"></div>
                <div class="text"> 
                 
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Doloremque, error odit. Labore ut, non quod ipsum omnis
                  eos ad dolorum quos reiciendis incidunt veritatis 
                  doloribus aperiam obcaecati distinctio sed neque inventore 
                  tempora rerum. Nisi, praesentium ad. Est animi, voluptatem quisquam 
                  distinctio recusandae quia reiciendis ab alias, natus, neque aut fuga ullam? 
                  Quas explicabo harum debitis esse, numquam blanditiis ullam assumenda. 
                </div>
              </div>
    
          
        </div>
      </div>
</div> 
<div class="container-fluid">
  <div class="row top-not-padd">
      <div class="col-xs-12 col-sm-12 col-md-12 no-padd">
        <div class="bgImage">
          <div class="imageText">
            <div class="title text-center text-white-color bottom-top"> 
              Anthony Bourdain Tastes the most Autentic Armenian Dishes
            </div>
            <div class="div-place text-center text text-white-color"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
              nostrum iusto eius sequi dignissimos iure veniam culpa ad nisi delectus. 
              Sapiente error at ipsam. Officia quos earum qui suscipit dicta.
              
            </div>
          </div>
        </div>
      </div>
  </div> 
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 no-padd">

        <div class="images-content">
          
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 relative-pos no-padd">
            <div class="hover-show-opacity">
              <div class="food-name text-white-color text-center"> Tjvjik</div>
              <div class="white-line"></div>
              <div class="food-text text-white-color text-center">
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                 Magnam, quia. Libero, consequuntur placeat quis quam vitae 
                 voluptatum quo blanditiis mollitia sapiente maiores, quae est? 
                </div>
            </div>
              <div class="images-content-image" [style.background-image]="'url(' + 'assets/antony-images/image7.jpg' + ')'"></div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 relative-pos no-padd">
              <div class="hover-show-opacity">
                  <div class="food-name text-white-color text-center"> Qyalla</div>
                  <div class="white-line"></div>
                  <div class="food-text text-white-color text-center">
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                     Magnam, quia. Libero, consequuntur placeat quis quam vitae 
                     voluptatum quo blanditiis mollitia sapiente maiores, quae est? 
                    
                    </div>
                </div>
                <div class="images-content-image" [style.background-image]="'url(' + 'assets/antony-images/image8.jpg' + ')'"></div>
            
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 relative-pos no-padd" style="padding: 0px !important ">
              <div class="hover-show-opacity">
                  <div class="food-name text-white-color text-center"> Chanakh</div>
                  <div class="white-line"></div>
                  <div class="food-text text-white-color text-center">
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                     Magnam, quia. Libero, consequuntur placeat quis quam vitae 
                     voluptatum quo blanditiis mollitia sapiente maiores, quae est? 
                     
                    </div>
                </div>
                <div class="images-content-image" [style.background-image]="'url(' + 'assets/antony-images/image9.jpg' + ')'"></div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 relative-pos no-padd">
              <div class="hover-show-opacity">
                  <div class="food-name text-white-color text-center"> Gyumri Beer</div>
                  <div class="white-line"></div>
                  <div class="food-text text-white-color text-center">
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                     Magnam, quia. Libero, consequuntur placeat quis quam vitae 
                     voluptatum quo blanditiis mollitia sapiente maiores, quae est? 
                    </div>
                </div>
                <div class="images-content-image" [style.background-image]="'url(' + 'assets/antony-images/image10.jpg' + ')'"></div>
          </div>

          

        </div>

      </div>
  </div>
</div>

<div class="container">
    <div class="row top">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
          <div class="col-xs-12 col-sm-5 col-md-5 no-padd">
            <div class="imageLeft" [style.background-image]="'url(' + 'assets/antony-images/image11.jpg' + ')'"></div>
          </div>
          <div class="rightText col-xs-12 col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-1 height no-padd "> 
              <div class="title-padding title textTop bottom-text">
              Come for an "Antony Bourdain Gourmet Tour"
            </div>

            <div class="text"> 
              
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Doloremque, error odit. Labore ut, non quod ipsum omnis
              eos ad dolorum quos reiciendis incidunt veritatis 
              doloribus aperiam obcaecati distinctio sed neque inventore 
              tempora rerum. Nisi, praesentium ad. Est animi, voluptatem quisquam 
              distinctio recusandae quia reiciendis ab alias, natus, neque aut fuga ullam? 
              Quas explicabo harum debitis esse, numquam blanditiis ullam assumenda. 
            </div>
          </div>
  
        
      </div>
    </div>
      <div class="row top">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
    
              <div class="leftText col-xs-12 col-sm-8 col-md-8 height no-padd"> 
                <div class="title col-sm-9 col-md-8 no-padd textTop bottom-text">
                  Your tour Itinerary
                </div>
                <div class="clearfix"></div>
        
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padd">
                    <div class="cicle text-center font">1</div>
                    <div class="verticalLine"></div>
                   
                  </div>
                  <div class=" col-xs-10 col-sm-10 col-md-10 col-lg-10 no-padd" >
                      <div class="text tour-height">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sapiente minima impedit nihil maiores fugiat officia?
                      </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padd">
                    <div class="cicle text-center font">2</div>
                    <div class="verticalLine"></div>
                    
                  </div>
                  <div class=" col-xs-10 col-sm-10 col-md-10 col-lg-10 no-padd" >
                      <div class="text tour-height">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sapiente minima impedit nihil maiores fugiat officia?
                      </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padd">
                    <div class="cicle text-center font">3</div>
                    <div class="verticalLine"></div>
                   
                  </div>
                  <div class=" col-xs-10 col-sm-10 col-md-10 col-lg-10 no-padd" >
                      <div class="text tour-height">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sapiente minima impedit nihil maiores fugiat officia?
                      </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 no-padd">
                    <div class="cicle text-center font">4</div>
                   
                  </div>
                  <div class=" col-xs-10 col-sm-10 col-md-10 col-lg-10 no-padd" >
                      <div class="text tour-height">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sapiente minima impedit nihil maiores fugiat officia?
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 height no-padd">
                  <div id="phone" [style.background-image]="'url(' + 'assets/antony-images/image12.png' + ')'"></div>
                </div>
    
          
        </div>
    </div>
  </div>
 
  <div class="container">
    <div class="row top marg-bottom">
        <div class="article">
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
            <div class="article-big-image" [style.background-image] = "'url(' + 'assets/antony-images/image13.jpg' + ')'">
              <div class="image-desc">
                <div class="data text-white-color"> NOVEMBER 28, 2018</div>
                <div class="title text-white-color"> ANTHONY BOURDAIN`S ARMENIA EPISODE TO AIR ON MAY 20 on CNN</div>
                <button class="btn big-button"> Read More</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padd-left">
            <div class="small-article">
              <div class="article-small-image " [style.background-image] = "'url(' + 'assets/antony-images/image15.jpg' + ')'">

              </div>
                <div class="article-desc">
                  <div class="data"> NOVEMBER 18, 2015</div>
                    <div>
                      <a href="#" class="small-article-a">
                        SERJ TANKIAN TO APPEAR ON ARMENIA EPISODE OF "ANTHONY BOURDAIN PARTS UNKNOWN"
                      </a>
                    </div>
                    <button class="btn mybutton"> Read More</button>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  padd-middle">
              <div class="small-article">
                <div class="article-small-image " [style.background-image] = "'url(' + 'assets/antony-images/image16.jpg' + ')'">
  
                </div>
                  <div class="article-desc">
                    <div class="data"> NOVEMBER 18, 2015</div>
                      <div>
                        <a href="#" class="small-article-a">
                          SERJ TANKIAN TO APPEAR ON ARMENIA EPISODE OF "ANTHONY BOURDAIN PARTS UNKNOWN"
                        </a>
                      </div>
                      <button class="btn mybutton"> Read More</button>
                  </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padd-right">
                <div class="small-article">
                  <div class="article-small-image " [style.background-image] = "'url(' + 'assets/antony-images/image14.jpg' + ')'">
    
                  </div>
                    <div class="article-desc">
                      <div class="data"> NOVEMBER 18, 2015</div>
                        <div>
                          <a href="#" class="small-article-a">
                            SERJ TANKIAN TO APPEAR ON ARMENIA EPISODE OF "ANTHONY BOURDAIN PARTS UNKNOWN"
                          </a>
                        </div>
                      <button class="btn mybutton"> Read More</button>
    
                    </div>
                </div>
              </div>
    </div>
  </div>
